<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script type="module" src="/static/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<section class="aria">
    <div class="container" th:each="id : ${info}"  th:id="${id}">
        <h1 th:text="${#strings.capitalize(id)}"></h1>
        <h2 th:id="|${id}Symbol|" th:text="${initSymbol}"></h2>
        <div class="chart">
            <canvas th:id="|${id}Chart|"></canvas>
        </div>
        <div class="card">
            <div class="profit" th:id="|${id}Profit|"></div>
            <label th:id="${id}">
                <input type="text" th:label="${id}" placeholder="GOOG, AMZN ..."/>
            </label>
            <button type="button">보내기</button>
        </div>
    </div>
</section>
</body>
</html>